<ion-header-bar>
    <h1 class="title">Nick Name</h1>
  </ion-header-bar>
  <ion-content>
      <h3>Fantasy Team</h3>
      <div class="list">
        <label class="item">
          <button class="button button-block button-positive" ui-sref='main.tab'>Team A</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ui-sref=''>Join a league</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ui-sref=''>Create a league</button>
        </label>
      </div>
    <h3>Tools</h3>
    <button class="button button-block button-positive" ui-sref=''>Setting</button>
    <button class="button button-block button-positive">Share</button>
    <button class="button button-block button-positive">Help</button>
    <button class="button button-block button-positive">Rate</button>
  </ion-content>